html {
  font-size: 16px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック",
    "Yu Gothic", "游ゴシック体", "YuGothic", "Meiryo UI", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.img {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.pd {
  padding-left: 15px;
  padding-right: 15px;
}

// header
.header {
  width: 100%;
  background-color: $cWhite;
  @extend .flex;
  justify-content: space-between;
  height: 88px;
  @include paddingL(43%, 776%);
  @include paddingR(36%, 776%);

  &__title {
    max-width: 114px;
    width: 100%;
  }

  &__sns {
    display: flex;
    max-width: 256px;
    width: 100%;

    & .line {
      max-width: 56px;
    }

    & .fb {
      max-width: 56px;
      @include marginL(41%, 256%);
    }

    & .twitter {
      max-width: 66px;
      @include marginL(43%, 256%);
    }
  }
}

.top {
  width: 100%;
  height: 104px;
  background-color: $cNavyBlue;
  @extend .flex;
  @extend .pd;
  &__title {
    color: $cWhite;
    max-width: 545px;
    margin: 0 auto;
    white-space: nowrap;
  }
}

.main {
  background-image: url(../img/back-img.png);
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center center;
}

.map {
  width: 100%;
  @include marginT(44%, 766%);
  @include paddingL(31%, 766%);
  @include paddingR(36%, 766%);

  &__main {
    width: 100%;
    position: relative;
    &-inner {
      position: absolute;
      bottom: calc(53% / 842% * 100%);
      @include marginL(28%, 689%);
      @include marginR(28%, 689%);
    }
    &-about {
      position: absolute;
      bottom: 0;
      right: calc(6% / 689% * 100%);
      transform: translateY(50%);
      @include marginL(440%, 689%);
    }
  }

  & .catch {
    @include marginT(41%, 766%);
  }
}

.about {
  width: 100%;
  @include marginT(128%, 766%);
  background-color: #053984;
  position: relative;
  &__title {
    position: absolute;
    top: 0;
    left: calc(30% / 766% * 100%);
    right: calc(31% / 766% * 100%);
    transform: translateY(-50%);
  }

  &__text {
    @include paddingT(70%, 766%);
    @include paddingB(70%, 766%);
    @include paddingL(42%, 766%);
    @include paddingR(46%, 766%);
  }
}

.point {
  width: 100%;
  @include marginT(42%, 766%);

  &__title {
    max-width: 702px;
    @include marginL(29%, 766%);
    @include marginR(34%, 766%);
  }

  &__list {
    @include paddingL(12%, 766%);
    @include paddingR(12%, 766%);
    @include marginT(50%, 766%);
    &-li {
      max-width: 713px;
      &:nth-child(2) {
        @include marginT(16%, 713%);
        @include marginB(15%, 713%);
      }
    }
  }
}

.secret {
  width: 100%;
  background-color: $cBlue;
  @include marginT(164%, 766%);
  @include paddingB(141%, 683%);
  position: relative;

  &__title {
    position: absolute;
    top: 0;
    left: calc(32% / 766% * 100%);
    right: calc(32% / 766% * 100%);
    transform: translateY(-50%);
  }

  &__list {
    @include paddingT(100%, 766%);

    &-li {
      position: relative;
      max-width: 668px;
      @include marginL(43%, 766%);
      @include marginR(45%, 766%);

      & > div {
        max-width: 497px;
        position: absolute;
        bottom: calc(34% / 497% * 100%);
        @include marginL(89%, 668%);
        @include marginR(85%, 668%);
      }
      &:nth-child(2) {
        @include marginT(40%, 668%);
        @include marginB(42%, 668%);
      }
    }
  }

  &__text {
    max-width: 683px;
    @include marginT(57%, 683%);
    @include marginL(45%, 683%);
    @include marginR(38%, 683%);
  }
}
